# Local Terraform state and dirs
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log

# Variable files with real values / secrets
terraform.tfvars
*.auto.tfvars

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
